*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}
body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(http://bit.ly/2gPLxZ4);
 width: 100%;
 height: 100%;
}
.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(4px);
  height: 100vh;
	width: 100%;
}
#heading 
{
    color: aliceblue;
    font-family: serif;
    font-style: normal;
    font-size:130px;
    text-align: center;
}
#videoContainer {
    width:640px;
    background-image: url(load1.gif);
    text-align: left;
    border:480px;
    margin:0 auto;
}
